/* 斜めストライプ */
header {
    color: rgb(97, 49, 49);
    text-align: center;
    position: relative;
    display: inline;
    padding: auto;
}

body {
    color:rgb(131, 131, 131) ;
    text-align: center;
    background: 
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%); 
    background-size: 2em 2em;
    background-color: #232323;
  }
  .ttl_center5 {
    color: #d12a2a;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    padding: 0.5em 1em;
    margin-bottom: 0.3em;
    text-align: center;
    position: relative;
  }
  .ttl_center5::before, .ttl_center5::after {
    content: '';
    background-color: #d12a2a;
    width: 50%;
    height: 3px;
    position: absolute;
  }
  .ttl_center5::before {
    top: 0;
    left: 0;
  }
  .ttl_center5::after {
    bottom: 0;
    right: 0;
  }
  .migiyose{
    margin-left: 93%;
    margin-right: 0;}
  .kiiro{
    color: #c7ca00;
  }
.ao{
    color: #202fff;
  }
  .murasaki{
    color: #b700db;
  }
.pink{
  color: #ff6bda;
}
.midori{
  color: #00e20b;
}
